
{% extends 'login_reg.html' %}
{% block body %}    

  <div class="main">
    <p class="sign" align="center">Sign up</p>
    <form class="form1" action="/registrationNext" method="POST">
      <input class="un " type="text" align="center" placeholder="Username" name="id">
      <input class="pass" type="password" align="center" placeholder="Password" name="password">
      <input class="un" type="name" align="center" placeholder="Name" name="name">
      <input class="un" type="type" align="center" placeholder="Type" name="type">
      
      <input type="submit" class="submit" align="center" value="Sign up"></input>
      <br><br><br>
      <a class="submit" align="center" href="{{ url_for('login') }}">Sign in</a>
            
                
    </div>

{% endblock %}


