{% extends 'header.html' %}
{% block body %}   
<style type="text/css">
  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 10; /* Stay at the top */
    left: 0;
    /*background-color: #111; /* Black */*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
</style>
<div class="container">
<div class="row">
<div class="sidenav">
<div class="col-lg-3">
<div><h2><a href=#post>Most Voted Post's</a></h2></div>
<div><h2><a href=#prof>Most Followed Professor's </a></h2></div>
<div><h2><a href=#lab>Most Publication's By Lab's</a></h2></div>

</div>
</div>
<div class="col-lg-3">
</div>
<div class="col-lg-9">
      <h1 style="text-align: center;">
    Most Voted Post's    
    </h1>

  <div id="post">
    {% for i in range(10) %}
<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;border-radius:50px">
  <h3 style="text-align:center;">Research Area:{{i}}</h3>
  <p>
    Lab:{{i}}<br>
    Professor:{{i}}<br>
    Student:{{i}}<br>
  </p>
  <p><b>About</b><br>Parallax scrolling is a web site trend where the background content is moved at a different speed than the foreground content while scrolling. Nascetur per nec posuere turpis, lectus nec libero turpis nunc at, sed posuere mollis ullamcorper libero ante lectus, blandit pellentesque a, magna turpis est sapien duis blandit dignissim. Viverra interdum mi magna mi, morbi sociis. Condimentum dui ipsum consequat morbi, curabitur aliquam pede, nullam vitae eu placerat eget et vehicula. Varius quisque non molestie dolor, nunc nisl dapibus vestibulum at, sodales tincidunt mauris ullamcorper, dapibus pulvinar, in in neque risus odio. Accumsan fringilla vulputate at quibusdam sociis eleifend, aenean maecenas vulputate, non id vehicula lorem mattis, ratione interdum sociis ornare. Suscipit proin magna cras vel, non sit platea sit, maecenas ante augue etiam maecenas, porta porttitor placerat leo.</p>
    <p>Vote:
        <button id="{{i}}" class="heart">
          <span class="glyphicon glyphicon-heart"></span></button>
      </p>
</div><br><br>
<script type="text/javascript">
    $(document).ready(function($){
    $('#{{i}}').on("click", function(){
      const element = document.getElementById('{{i}}')
      const color = element.style.color
      // console.log(color)
      if(color=="red")
        $(this).css("color", "black");
      else
        $(this).css("color", "red");
    });
});
</script>
{% endfor %}



  </div>
  <div id="prof">
    <h1 style="text-align: center;">
    Most Followed Professor's    
    </h1>
    {% for i in range(10)  %}
    <div style="color: #777;background-color:white;text-align:center;padding:25px 40px;text-align: justify;border-radius:50px">
    <div ><a href=/professor>Professor {{i}} </a>
      <br>
      <h6>Followers:{{i}}</h6>
    </div>
    </div>
    <br>
    {% endfor %}
  </div>
  <div id="lab">
    <h1 style="text-align: center;">
    Most Publication's By Lab's    
    </h1>
    {% for i in range(10)  %}
    <div style="color: #777;background-color:white;text-align:center;padding:25px 40px;text-align: justify;border-radius:50px">
    <div ><a href=/professor>Lab {{i}} </a>
      <br>
      <h6>Number of publications :{{i}}</h6>
    </div>
    </div>
    <br>
    {% endfor %}
  </div>
</div>


</div>

</div>


{% endblock %}